<!-- User image -->
<li class="user-header">
    <p>
        @{{ app.user.username }}
    </p>
</li>
<!-- Menu Body -->
<!-- Menu Footer-->
<li class="user-footer">
    <div class="pull-left">
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">Profile</a>
    </div>
    <div class="pull-right">
        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Sign out</a>
    </div>
</li>