{% extends '@Admin/base.html.twig' %}
{% set title = 'User search' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="box-title">Scan result</div>
                </div>
                <div class="box-body no-padding">
                    <table class="table" id="scanner_result_table">
                        <thead>
                            <th>Username</th>
                            <th>Fullname</th>
                            <th>Bonus</th>
                            <th></th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="box-title">QR code camera</div>
                </div>
                <div class="box-body">
                    <script type="text/javascript"  src="{{ asset('bundles/admin/libs/instascan/instascan.min.js') }}"></script>
                    <video id="instascancam" style="transform: scaleX(-1);width: 100%;"></video>
                    <script type="text/javascript">
                        let scanner = new Instascan.Scanner({ video: document.getElementById('instascancam') });
                        scanner.addListener('scan', function (content) {
                            console.log(content);
                            try {
                                data = JSON.parse(content);
                                $.post(window.location.href, {'user_id':data.id}, function (data) {
                                    $("#scanner_result_table tbody").append(
                                        "<tr>" + data.username + "</td>" +
                                        "<td>" + data.fullname + "</td>" +
                                        "<td>" + data.bonus + "</td>" +
                                        "<td>" +
                                        "<a class='btn btn-primary' href='"+data.url+"' target='_blank'><i class='fa fa-edit'></i> Edit</a>" +
                                        "</td>"+
                                        "</tr>"
                                    );
                                });
                            } catch (e) {
                                console.log('Unable parse json');
                            }
                        });
                        Instascan.Camera.getCameras().then(function (cameras) {
                            if (cameras.length > 0) {
                                for (var i = 0; i < cameras.length; i++) {
                                    $("#scanner_cameras").append(
                                        "<tr>" +
                                        "<td>" +
                                        "<a class='btn btn-primary' href='javascript:void(0)' data-key='"+i+"'>"+cameras[i].name+"</a>" +
                                        "</td>" +
                                        "</tr>"
                                    );
                                }
                                scanner.start(cameras[cameras.length-1]);
                            } else {
                                console.error('No cameras found.');
                            }
                        }).catch(function (e) {
                            console.error(e);
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}